@keyframes TopToMiddle {
    0% {
        transform: translateY(-800%);
        opacity: 0;
    }
    40% {
        transform: translateY(30%);
        opacity: 70%;
    }
    60% {
        transform: translateY(0);
    }
}
@keyframes BottomToMiddle {
    0% {
        transform: translateY(800%);
        opacity: 0;
    }
    40% {
        transform: translateY(-30%);
        opacity: 70%;
    }
    60% {
        transform: translateY(0);
    }
}
@keyframes MiddleToBottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(800%);
        opacity: 0;
    }
}

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: hidden
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
#playerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
}
label {
    animation: 2s ease-in-out 0s 1 TopToMiddle;

    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}
input {
    animation: 2s ease-in-out 0s 1 BottomToMiddle;
    
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 5px solid rgb(211, 211, 211);
    width: 200px;

    font-size: 30px;
    text-align: center;
    padding: 10px;
}
button {
    animation: 2s ease-in-out 0s 1 BottomToMiddle;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    
    margin-top: 25px;
    outline: 0;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transform: scale(1.2);
}
.animated {
    animation: 1s ease-in 0s 1 MiddleToBottom;
    animation-fill-mode: forwards;
}