html, body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes slideMiddleFromTop {
    0% {
        transform: translateY(-800%);
        opacity: 0;
    }
    40% {
        transform: translateY(30%);
        opacity: 70%;
    }
    60% {
        transform: translateY(0);
    }
}
@keyframes slideTopFromMiddle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-800%);
        opacity: 0;
    }
}
@keyframes slideMiddleFromBottom {
    0% {
        transform: translateY(800%);
        opacity: 0;
    }
    40% {
        transform: translateY(-30%);
        opacity: 70%;
    }
    60% {
        transform: translateY(0);
    }
}
@keyframes slideBottomFromMiddle {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(800%);
        opacity: 0;
    }
}
div {
    animation: 2s ease-out 0s 1 slideMiddleFromTop;

    position: absolute;
    top: 28%;

    font-weight: 700;
    font-size: 100px;
}
.titleAnimated {
    animation: 1s ease-in 0s 1 slideTopFromMiddle;
    animation-fill-mode: forwards;
}
button {
    animation: 2s ease-out 0s 1 slideMiddleFromBottom;

    position: absolute;

    font-size: 50px;
    font-weight: 600;

    padding: 10px 50px;
    border: none;
    border-radius: 30px;

    cursor: pointer;
    outline: 1px solid rgba(0, 0, 0, 0);
    outline-offset: 10px;

    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
button:hover {
    /* outline: 5px solid rgb(116, 116, 116); */
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    font-size: 54px;
}
.buttonAnimated {
    animation: 1s ease-in 0s 1 slideBottomFromMiddle;
    animation-fill-mode: forwards;
}