@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes topToMiddle {
    0% {
        transform: translateY(-200%);
        opacity: 0;
    }
    40% {
        transform: translateY(30%);
        opacity: 70%;
    }
    60% {
        transform: translateY(0);
    }
}
@keyframes bottomToMiddle {
    0% {
        transform: translateY(800%);
        opacity: 0;
    }
    40% {
        transform: translateY(-30%);
        opacity: 70%;
    }
    60% {
        transform: translateY(0);
    }
}
@keyframes middleToTop {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-800%);
        opacity: 0;
    }
}
html, body {
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: hidden
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top-wrapper {
    animation: 1s ease-in 0s 1 topToMiddle;
    
    display: flex;
    justify-content: space-between;
    width: 80%;

    font-size: 30px;
    font-weight: 600;
}
#second-wrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 30px;
    font-weight: 600;
}
.second-wrapper-animated {
    animation: 1s ease-in 0s 1 bottomToMiddle;
}
fieldset {
    border: 0;
    display: flex;
    align-items: center;
    height: 24px;
    gap: 10px;
}
.animated {
    animation: 1s ease-in 0s 1 middleToTop;
    animation-fill-mode: forwards;
}
#restart_button {
    /* animation: 1s ease-in 0s 1 bottomToMiddle; */
    
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
    padding: 8px 18px;
}
#game_grid_container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10px;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 30px;

    width: 700px;
    height: 700px;
}
.game_slot {
    /* animation: 1s ease-in 0s 1 fadeIn; */
    
    padding: 10px;
    font-size: 100px;
    border: 5px solid black;
    border-radius: 75px;
    /* transition-duration: .5s;
    transition-timing-function: ease-in-out; */
}
.game_slot:hover {
    background-color: rgb(163, 163, 163);
}